.yarn/cache
.turbo/
.azure/
.git/
.next/
.swc/
.vscode/
nginx/
.dockerignore
.env.template
docker-compose.yml
Dockerfile
Dockerfile.api
notes.md
npm-debug.log
README.md
.env.local
node_modules
.docs/
apps/client/docs/
apps/client/docs/*
apps/client/public/mockServiceWorker.js
apps/client/public/mock_images/*