@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
@media only screen and (orientation: portrait) {
  body .shrink {
    width: 95%;
  }
}
@media only screen and (orientation: landscape) {
  body .shrink {
    width: 90%;
  }
}
.center-safe {
  text-align: center;
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background-color: #161724;
  font-family: "Karla", sans-serif;
  color: #666;
  font-size: 20px;
  line-height: 32px;
}
body,
html {
  height: var(--app-height);
}
html {
  font-family: "Karla", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.main {
  overflow-x: hidden !important;
  height: auto;
  width: 100%;
}
.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 4%;
  padding-left: 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* height: 110vh; */
  overflow: hidden;

  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#151623),color-stop(40%,transparent)),-webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(95%,#151623)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)),url("https://assets.website-files.com/5ee8e894dfcfd4765c67b3cc/5f3178e90188e73d09f78318_pexels-alex-azabache-4039921%20(1).jpg"); */
  background-image: linear-gradient(180deg, #151623, transparent 40%),
    linear-gradient(180deg, transparent, #151623 95%),
    linear-gradient(180deg, transparent, transparent),
    url("https://assets.website-files.com/5ee8e894dfcfd4765c67b3cc/5f3178e90188e73d09f78318_pexels-alex-azabache-4039921%20(1).jpg");

  background-position: 0 0, 0 0, 0 0, 50% 50%;
  background-size: auto, auto, auto, cover;
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 2em;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-right: 2%;
    padding-left: 2%;
  }
}
@media screen and (max-width: 991px) {
  .section {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
.section {
  position: relative;
  padding: 4em 4%;
  background-color: #fff;
}
.heroText {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 40px;
  line-height: 40px;
  overflow-wrap: break-word;
}
.smallHeroText {
  font-family: "Karla", sans-serif;
  color: #e3af5b;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 3vw;
}
@media screen and (min-width: 300px) {
  .heroText {
    font-size: 4vh;
    line-height: 4vh;
  }
}
.seeOurPropertiesButton {
  font-size: small;
  height: auto;
  width: 15vh;
  margin-top: 0.3rem !important;
  padding: 1px !important;
  background: none !important;
  border-color: #e3af5b !important;
}
.seeOurPropertiesButton span {
  font-size: 1.5vh;
}
.sky {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 4%;
  padding-left: 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* height: 110vh; */
  overflow: hidden;
  background-position: 0 0, 0 0, 0 0, 50% 50%;
  background-size: auto, auto, auto, cover;
  left: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  object-fit: cover;
  z-index: 1;
  width: 100%;
}
.city {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 4%;
  padding-left: 4%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* height: 110vh; */
  overflow: hidden;
  background-position: 0 0, 0 0, 0 0, 50% 50%;
  background-size: auto, auto, auto, cover;
  left: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  object-fit: cover;
  z-index: 3;
  opacity: 0;
}

.builder-section {
  font-family: "Karla", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding-right: 4%;
  padding-left: 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* height: 110vh; */
  overflow: hidden;
  height: auto !important;
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#151623),color-stop(40%,transparent)),-webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(95%,#151623)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)),url("https://assets.website-files.com/5ee8e894dfcfd4765c67b3cc/5f3178e90188e73d09f78318_pexels-alex-azabache-4039921%20(1).jpg"); */
}
.make-an-offer-button {
  font-size: small !important;
  margin-bottom: 10px !important;
  font-family: Karla, sans-serif !important;
  background-color: #8b949a !important;

  border: none !important;
}
.line-clamp {
  display: inline-block;
  width: auto;
  height: auto;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 1.65;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "home-hero"
    "home-content";
}
.home-hero {
  grid-area: home-hero;
  min-height: 400px;
  min-width: 300px;
  position: relative;
  z-index: 2;
}
.home-content {
  grid-area: home-content;
  font-family: "Karla", sans-serif;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "home-hero home-content" "home-hero home-content";
  }
  .home-hero {
    min-height: 100vh;
    min-width: 3m0rem;
  }
}
.recent-homes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto);
}
@media only screen and (max-width: 900px) {
  .recent-homes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .recent-homes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home-card {
  max-width: 500px;
  margin: auto;
}
.home-card img {
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.recent-text {
  font-family: "Karla", sans-serif;
  color: #e3af5b;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
  position: relative;
  font-size: 5vw;
}

.intro-text {
  width: 100%;

  text-align: center;
}

.newsletter-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "newsletter-icon newsletter-text"
    "newsletter-sign-up-form newsletter-sign-up-form";

  margin-top: 20px;
  margin-bottom: 20px;
}

/* Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
  .newsletter-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

/* Medium devices (landscape phones, 576px and up) */
/* @media only screen and (min-width: 576px) and (max-width: 767px) {
  .newsletter-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "newsletter-icon"
      "newsletter-text"
      "newsletter-sign-up-form";
    max-width: 50px !important;
    margin: 0 auto;
  }
  .newsletter-container > * {
    max-width: 50px;
  }
} */

/* Large devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .newsletter-container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "newsletter-icon newsletter-text"
      "newsletter-sign-up-form newsletter-sign-up-form";
  }
}

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .newsletter-container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "newsletter-icon newsletter-text"
      "newsletter-sign-up-form newsletter-sign-up-form";
  }
}

/* Extra extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .newsletter-container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "newsletter-icon newsletter-text"
      "newsletter-sign-up-form newsletter-sign-up-form";
  }
}

.newsletter-icon {
  grid-area: newsletter-icon;
  margin: auto;
}
.newsletter-text {
  grid-area: newsletter-text;
  margin: auto;
  text-align: center;
}
.newsletter-sign-up-form {
  grid-area: newsletter-sign-up-form;
}
.scale-up-center {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.scale-out {
  opacity: 0;
  animation: scale-out-center 0.2s;
}
.scale-in {
  opacity: 1;
  animation: scale-up-center 0.5s;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.markdown {
  white-space: pre-wrap !important;
}
.bgfade {
  animation: bgfade 5s ease-out both;
}

@keyframes bgfade {
  0% {
    transform: scale(0) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
