@font-face {
  font-family: "Oakes";
  src: url("../public/static/fonts/Oakes\ Grotesk\ Regular.ttf");
  src: url("../public/static/fonts/Oakes\ Grotesk\ SemiBold.ttf");
  src: url("../public/static/fonts/Oakes\ Grotesk\ Bold.ttf");
  src: url("../public/static/fonts/Oakes\ Grotesk\ Medium.ttf");
  font-style: normal;
}

.topNav {
  background-color: #252526;
  border: none;
  width: 100%;
}

.topNav :global(.headerText) {
  /* color: #bfb087; */
  font-size: x-large;
  font-weight: 600;
  font-family: Oakes, Helvetica, Arial, sans-serif;
  padding-left: 0.5rem;
}

.navLinks {
  color: white;
  font-size: small;
}
.navLinkText {
  flex: 1;
  text-align: center;
}
.appShellMain :global(main) {
  flex: 1;
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  background: #f8f9fa;
}
